# pdflatex
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.synctex.gz
*.tex~

# generated pdf's
docs/Pflichtenheft/Pflichtenheft.pdf
# matriculation numbers
docs/Pflichtenheft/LaTeX/Matrikelnummern.tex

*.swp
*.o
src/main
