<!DOCTYPE html>
<html>
  <head>
    <title>Rechnung @nr</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
      th { border-bottom: 2px solid #000; }
      td { border-bottom: 1px solid #bbb; font-size: 110%; padding: 7px 0; }
      tr.total td { border: none; padding-top: 20px; font-weight: bold; }
    </style>
  </head>
  <body style="font-family: Cambria, Georgia, Times, ‘Times New Roman’, serif;">
    <div style="text-align:right;font-size: 70%;margin-bottom:80px;">
      <p>
        @from_name<br />
        @from_street<br />
        @from_city<br />
        Mobil: @from_mobile<br />
        Email: @from_email<br />
        Ust-IdNr.: @from_ustidnr
      </p>
    </div>
    <div style="font-size: 70%;margin-bottom: -10px;">
      @from_name | @from_street | @from_city
    </div>
    <div style="line-height: 25px;margin-bottom: 50px;">
      <p>
        @to_name<br />
        @to_street<br />
        @to_city
      </p>
    </div>
    <div style="border:2px solid #ddd;border-left:none;border-right:none;">
      <div style="float:right;">
        <p>
          Rechnungsnummer: @nr<br />
          Leistungsdatum: @accomplishment<br />
          Datum: @date
        </p>
      </div>
      <div style="font-weight: bold;">
        <p>
          Rechnung @nr
        </p>
      </div>
      <div style="clear:both;">
      </div>
    </div>
    <div style="margin: 60px 0;">
      <table style="width:100%;text-align:left;" cellspacing="0">
        <colgroup>
          <col width="10%"/>
          <col width="15%"/>
          <col width="15%"/>
          <col width="70%"/>
          <col width="15%"/>
        </colgroup>
        <tr>
          <th>#</th>
          <th>Preis</th>
          <th>Einheit</th>
          <th>Beschreibung</th>
          <th>Netto</th>
        </tr>
        @items{
        <tr>
          <td>@quantity</td>
          <td>@price€</td>
          <td>@unit</td>
          <td>@description</td>
          <td>@total€</td>
        </tr>
        }
        <tr class="total">
          <td colspan="3">Gesamt:</td>
          <td colspan="2" style="text-align:right;">@all_total€</td>
        </tr>
      </table>
    </div>
    <div>
      <p>Im ausgewiesenen Betrag ist gemäß § 19 UStG keine Umsatzsteuer enthalten.</p>
      <p>
        Bitte bezahlen Sie den offenen Betrag innerhalb von 30 Tagen unter Angabe Ihrer Rechnungs-Nr. auf folgendes Konto:<br />
        Bank: @acct_name<br />
        Kontoinhaber: @from_name<br />
        Konto: @acct_nr<br />
        BLZ: @acct_blz
      </p>
    </div>
  </body>
</html>
